.button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 12px;
    background: var(--Purple-main, #775CE5);
    color: #fff;
    border: none;
    cursor: pointer;    
}



.button:hover {
    background-color: #2458a5;
}

.button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}


/* Path: front/src/component/button/index.js */