/* front/src/component/button/index.css */
.button {
  padding: 20px 40px;
  width: 353px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-family: Jost, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, opacity 0.3s;
}

.button--primary {
  color: #FFF;
  background-color: #775CE5;
  border: none;

}

.button--primary:hover {
  background-color: transparent;
  border: 1px solid #775CE5;
  color: #775CE5;
  
}

  
  .button--transparent {
    background-color: transparent;
    border: 1px solid #775CE5;
    color: #775CE5;
  }
  
  .button--transparent:hover {
    background-color: #775CE5;
    color: #FFF;
  }
  
  .button--red {
    color: red;
    border: 1px solid red;
  }
  
  .button--red:hover {
    background-color: red;
    color: #FFF;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  